{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/affinidi/affinidi-tdk-php",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
